<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.diagnostic.location"
    version="0.0.1">

    <name>Diagnostic location</name>
    <description>The diagnostic plugin allows you to check device location settings in your PhoneGap application.</description>

    <js-module src="www/diagnostic_location.js" name="DiagnosticLocation">
        <clobbers target="cordova.diagnostic.location" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DiagnosticLocation">
                <param name="ios-package" value="DiagnosticLocation" />
            </feature>
        </config-file>

        <header-file src="src/ios/Diagnostic_Location.h" />
        <source-file src="src/ios/Diagnostic_Location.m" />

        <framework src="CoreLocation.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="DiagnosticLocation" >
                <param name="android-package" value="com.collectme.cordova.diagnostic.DiagnosticLocation"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        </config-file>

        <source-file src="src/android/Diagnostic_Location.java" target-dir="src/com/collectme/cordova/diagnosticlocation" />

    </platform>
</plugin>
